# Python:
.idea/
__pycache__/
*.pyc

# Visual Studio
.vs/

# Windows:
*.lnk
Thumbs.db

# Private:
test.py

# Poject:
auto.sh
Train
Photogragh
FaceRecognition

att_faces/at.txt
Source/MyFaceFisherModel.xml
Source/MyFaceLBPHModel.xml
Source/MyFacePCAModel.xml
